/*#tabs-container {
   background-color: #efefef;
   height: 75vh;
   text-align:left;

}*/

/*#tabcenter {
    float:none;
    display:inline-block;
    zoom:1;
}*/
/*
.nav-tabs {
    text-align:left;
}

#tab-content {
   text-align:left;
}

.tab-pane {
   text-align:left;
}

#tab-content #home {
   text-align:left; !important
}*/


#tabs-container {
   text-align:left;
   height:65vh;
}