/*#tabs-container {
   background-color: #efefef;
   height: 75vh;
   text-align:left;

}*/

/*#tabcenter {
    float:none;
    display:inline-block;
    zoom:1;
}*/
/*
.nav-tabs {
    text-align:left;
}

#tab-content {
   text-align:left;
}

.tab-pane {
   text-align:left;
}

#tab-content #home {
   text-align:left; !important
}*/


#tabs-container {
   text-align:center;
   height:60vh;
   padding-left:100px;
   padding-right:100px;
   /*padding-left: 15px;*/

}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

#profile-container {
    text-align:center;
    height:60vh;
}

.resource-link {
}

.resource-headline {
  padding-top: 10px;
  font-size:1.25em;
}